.appbar-container {
    display: flex;
    height: 4.6em;
    border-bottom: 0.2em solid white;
    background-image: url('../assets/sky.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0.2em 0.2em grey;
    width: 100%;
    position: fixed;
}

.appbar-text {
    margin: 5px 0 5px 10px;
    display: block;
}

.appbar-hint {
    margin: 0 0 0 10px;
    font-size: smaller;
    display: inline-block;
}