.cell {
    display: inline-block;
    width: 3.8em;
    aspect-ratio: 1;
}

.field {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: stretch;
}

.field-inner {
    display: flex;
    margin: 0.2em;
    background-color: #FFF6;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 100%;
    font-size: 2em;
}

.field-none {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 0.1em 0.1em 0.005em #b3b3b3, inset 0px -0.1em 0.1em 0.05px rgba(255, 255, 255, 0.5);
}

.field-none:after {
    content: ".";
    color: transparent;
    text-shadow: none;
}

.field-player1 {
    color: #F006;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    box-shadow: 0px 0.2em 0.2em 0px rgba(0, 0, 0, .3), inset 0px 0.1em 0.1em 0.1em #fff, inset 0px -0.1em 0.2em 0.05em rgba(204, 198, 197, .5);
}

.field-player1:after {
    content: "●";
    text-shadow: 0px -0.05em 0.05em #bdb5b4, 0.05em 0.05em white;
}

.field-player2 {
    color: #0F06;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    box-shadow: 0px 0.2em 0.2em 0px rgba(0, 0, 0, .3), inset 0px 0.1em 0.1em 0.1em #fff, inset 0px -0.1em 0.2em 0.05em rgba(204, 198, 197, .5);
}

.field-player2:after {
    content: "●";
    text-shadow: 0px -0.05em 0.05em #bdb5b4, 0.05em 0.05em white;
}