.cell {
    display: inline-block;
    width: 3.5em;
    aspect-ratio: 1;
}

.field {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-items: stretch;
}

.field-inner {
    display: flex;
    margin: 5px;
    background-color: #FFF6;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 100%;
    font-size: 2em;
}

.field-none {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3), inset 0px 4px 1px 1px #b3b3b3, inset 0px -3px 1px 1px rgba(255, 255, 255, 0.5);
}

.field-none:after {
    content: ".";
    color: transparent;
    text-shadow: none;
}

.field-player1,
.field-candidate-player1:hover {
    color: #F006;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px #fff, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

.field-player1:after,
.field-candidate-player1:hover:after {
    content: "●";
    text-shadow: 0px -2px 2px #bdb5b4, 2px 2px white;
}

.field-player2,
.field-candidate-player2:hover {
    color: #0F06;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px #fff, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
}

.field-player2:after,
.field-candidate-player2:hover:after {
    content: "●";
    text-shadow: 0px -2px 2px #bdb5b4, 2px 2px white;
}

.field-empty {
    width: 40px;
    height: 40px;
    background-image: url('./../assets/EmptyButton.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin: 20px auto;
}