.nextPlayer-container {
    display: inline-block;
    margin: 0 0 0 15px;
}

.nextPlayer-field {
    font-size: 0.3em;
    display: inline-block;
}

.nextPlayer-text {
    margin: 0 0 0 5px;
    font-size: smaller;
    display: inline-block;
}