.row-selector-container {
    text-align: left;
}


.row-selector-img {
    width: 40px;
    height: 40px;
    background-image: url('./../assets/ButtonSelectRow.png');
    background-size: 40px 40px;
    background-repeat: no-repeat;
}