/* Adapt front-sizes to screen width */

@media all and (min-width: 50px) {
  body {
    font-size: 0.1em;
  }
}

@media all and (min-width: 100px) {
  body {
    font-size: 0.2em;
  }
}

@media all and (min-width: 200px) {
  body {
    font-size: 0.4em;
  }
}

@media all and (min-width: 300px) {
  body {
    font-size: 0.6em;
  }
}

@media all and (min-width: 400px) {
  body {
    font-size: 0.8em;
  }
}

@media all and (min-width: 500px) {
  body {
    font-size: 1.0em;
  }
}

@media all and (min-width: 600px) {
  body {
    font-size: 1.2em;
  }
}

@media all and (min-width: 700px) {
  body {
    font-size: 1.4em;
  }
}

@media all and (min-width: 800px) {
  body {
    font-size: 1.6em;
  }
}


.App {
  background-image: url('./assets/Summer1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  font-weight: lighter;
}